.sidenav {
    width: 200px;
}

.sidenav .nav-list a {
    color: #c42034;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    /* background-color: #FFF; */
    color: #000;
    height: 100%;
}