<mat-card class="form-card">
    <mat-card-title class="title">Deletar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input type="text" matInput placeholder="ID" disabled="true" [(ngModel)]="product.id" name="id">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Nome" disabled="true" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Preço (R$)" disabled="true" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>
    <div>
        <button mat-raised-button (click)="deleteProduct()" color="primary">
            Deletar
        </button>
        <button mat-raised-button (click)="cancel()">
            Cancelar
        </button>
    </div>
</mat-card>